.container {
    padding: 0 40px;
    margin: 0 auto
}
.choose{
    margin: 0;
    background-color: #EDF5FE6B;
}
.textTitel{
    margin: auto;
    padding: 60px 0 20px 0;
    font-weight: bold;
    font-size: 35px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    font-family: Montserrat;
}
.pragTitel{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;
    text-align: center;
    color: #787D82;
    text-align: center;
    padding: 0 0 50px 0;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px ;
    padding: 50px 0;
}
.item{
    width: 335px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px 0;
    padding: 44px 33px; ;
}
.titelItem{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.icone{
    width: 60px;
    height: 60px ;
}
.titleItem{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    padding: 5px 0 0 20px ;
}

.contentItem{
    border-radius: 10px;
    background-color: #0000000D;
    padding: 27px 29px ;
}
.content{
    font-family: Josefin Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #636363;
}
.seeAll p{
    text-align: end;
    cursor: pointer;

}
.seeAllClick{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    text-align: center;
}