
.container {
    padding: 0 40px;
    margin: 0 auto
}
.choose{
    margin: 0;
    background-color: #EDF5FE6B;
}
.textTitel{
    margin: auto;
    padding: 60px 0 20px 0;
    font-weight: bold;
    font-size: 35px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    font-family: Montserrat;
}
.pragTitel{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;
    text-align: center;
    color: #787D82;
    text-align: center;
    padding: 0 0 50px 0;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px ;
    padding: 50px 0;
}
.item{
    width: 335px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px 0;
    padding: 44px 33px; ;
}
.titelItem{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.icone{
    width: 60px;
    height: 60px ;
}
.titleItem{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    padding: 5px 0 0 20px ;
}

.contentItem{
    border-radius: 10px;
    background-color: #0000000D;
    padding: 27px 29px ;
}
.content{
    font-family: Josefin Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #636363;
}
.seeAll p{
    text-align: end;
    cursor: pointer;

}
.seeAllClick{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    text-align: center;
}
.titleTeam{
    text-align: center;
    padding: 40px 0;
}
.smllTitelTeam{
    font-size: 23px;
    font-weight: 400;
    font-family: Josefin Sans;
    font-size: larger;
    color: #000000;

}
.titelTeam {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    font-style: bold;
}
.prgTeam{
    font-weight: 400;
    font-style: larger;  
    font-family: Josefin Sans;
    font-size: 23px;
    color: #787D82; 
}
.d-block {
    display: block;
}
.teamImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px ;
    padding: 50px 0;
}
.cardImg{
    display: flex;
    flex-direction: column;
}

.divImg{
    background-color: #E4E4FA;
    border-radius: 10px;
    padding: 30px 40px 0; 
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.textTeam{
    color: #8B8B8B;
    font-weight: 500;
    font-style: medium;  
    font-family: Josefin Sans;
    font-size: 23px;
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}


.web-icon {
  width: 58px;
  height: auto;
}

.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 20px;
}
.links a {
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.links a:hover {
  font-weight: bold;
}

.language {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-up-btn {
  padding: 12px 24px;
  background: #000;
  border: none;
  cursor: pointer;
}

.sign-up-btn span {
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #fff;
}

/* home */

.home-container {
  display: flex;
  background-color: #eaf1ff;
  width: fit-content;
  gap: 230px;
}
.home-img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}
.home-text h1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 150px;
  /* or 111% */
  color: #000000;
}

.home-text p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  color: #000000;
  width: 540px;
  margin-top: -20px;
  margin-bottom: 40px;
}

.status-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  gap: 80px;
  margin-top: 50px;
  margin-left: 160px;
}

.status-bar .status p {
  width: 140px;
  height: 52px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
}

.status-bar .status span {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 60;
  font-size: 40px;
  line-height: 54px;
  color: #6b6b6b;
}

.status-bar .horiznotal-line {
  background-color: #6b6b6b;
  border-radius: 6px;
  width: 3px;
  height: 110px;
}
/* end of israa's part */

