.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.web-icon {
  width: 58px;
  height: auto;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}
.links a {
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.links a:hover {
  font-weight: bold;
}

.language {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-up-btn {
  padding: 12px 24px;
  background: #000;
  border: none;
  cursor: pointer;
}

.sign-up-btn span {
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #fff;
}
