* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif ,Arial, sans-serif;
}

body {
    background: #fff;
    padding: 32px;
    color: #222;
    line-height: 1.3;
}


.popular .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}*/
.popular.top h3{
letter-spacing: 4PX;
font-weight: 28PX;
font-size: 18PX;

}
.popular .explore {
 text-decoration: none;
color: #333;
font-size: 14PX;
}
   /* CARD*/

.cards{
   
display: grid;
grid-template-columns: repeat(3,1fr );
gap: 20px;
}
.card{
    border-radius: 2px ;
    overflow: hidden;
    box-shadow: 9 44px 18px rgb(15,15,15,0.06);
     transition: transform .18s ease, box-shadow .18s ease;
     display: flex;
     flex-direction: column;
}

.card:hover{
    transform: translateY(-6px);
    box-shadow:0 20px 28px rgb(15,15,15,0.06);
}
.card img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    display: block;
}
/* Info ... btn */
.info { padding: 14px; flex: 1;
     display: flex; 
     flex-direction: column;
     }
.action-btn{
    background: #101010;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15.3056px;
gap: 17.31px;
color: #fff;
width: 100px;
height: 12px;
flex: none;
order: 0;
flex-grow: 0;
}





