.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.web-icon {
  width: 58px;
  height: auto;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}
.links a {
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.links a:hover {
  font-weight: bold;
}

.language {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-up-btn {
  padding: 12px 24px;
  background: #000;
  border: none;
  cursor: pointer;
}

.sign-up-btn span {
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #fff;
}
// nada
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;

}
.services-section{
  display: flex;
  background-color: #1D2A4A;
  color: white;
  padding: 100px 80px;
  justify-content: space-between;
  align-items: center; 
flex-direction: row;
  
}
.text-section{
  order: 1;
  width: 30%;
  text-align:left;
  display: block;
  flex-direction: column;
  gap: 30px;
  

}
.text-section h2{
  font-size:34px;
  
  margin-bottom: 20px;
  
}
.text-section p{
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 40px;
  white-space:pre-wrap ;
}
.explore-btn{
  background-color: #ffffff;
  color: #0c101c;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s;

}
.explore-btn:hover{
  background-color: #e0e0e063;
}
.media-content-wrapper {
  order: 1;
  width: 65%;
  position: relative;
}
.display-belt {
  display: flex;
  overflow-x: scroll; 
  scroll-behavior: smooth;
  gap: 20px;
  padding-bottom: 40px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.card {
  min-width: 45%; 
  max-width: 45%;
  text-align: right;
}
.card img {
 
  width: 100%;
  height: 300px; 
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}
.belt-controls{
  position: absolute;
  bottom: 0; 
  right: 0;
display: flex;
flex-direction: row-reverse;
}
.my-btn{
  background-color: transparent;
  color:#ffffff;
  border: 1px soild #ffffff;
  font-size: 20px;
  cursor: pointer;
  margin-left: 0;
  margin-right:10px;
  transition: background-color 0.3 color 0.3;
}
.my-btn:hover {
  background-color: #ffffff;
 color:black;

}
